@import "tailwindcss";

@layer base {
  body {
    font-family: Arial;
    background-color: #0d0d14;
    color: white;
    height: 100%;
  }
}

:root {
  --gradient: linear-gradient(to right, blue, rgb(157, 157, 255));
}

/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
